            <div class="slider-container">
                  <ul class="fullwidth-slider">
                        <!-- Slide 1 -->
                        <li class="slide" style="background-image: url(/assets/slider/bx1.jpg)" data-anchor-target="section" data-70-top="background-position: center 400px;" data-start="background-position: center 0px;">
                              <div class="bg-overlay">
                                    <!-- Caption -->
                                    <div class="caption">
                                          <div class="caption-inside" data-anchor-target="section"  data-start="top: 0px; opacity: 1;" data-200-top="top: 270px; opacity: 0;">
                                                <div class="slide-caption light">
                                                      <div class="vertical-align-middle">     
                                                                                    
                                                            <h1>イスラエルのテクノロジーを輸出しています。</h1>
                                                            <p>

                                                            </p>                                 
                                                            <%= link_to '詳しく見る',root_path, :class => 'btn_top btn-1 img-btn' %>
                                                      </div>                                                    
                                                </div>
                                          </div>
                                    </div>
                                    <!--/Caption -->
                              </div>
                          
                        </li>
                        <!--/Slide 1 -->

                        <!-- Slide 2 -->
                        <li class="slide" style="background-image: url(/assets/slider/bx2.jpg)" data-anchor-target="section" data-70-top="background-position: center 400px;" data-start="background-position: center 0px;">
                              <div class="bg-overlay">
                                    <!-- Caption -->
                                    <div class="caption">
                                          <div class="caption-inside" data-anchor-target="section"  data-start="top: 0px; opacity: 1;" data-200-top="top: 270px; opacity: 0;">
                                                <div class="slide-caption light">
                                                      <div class="vertical-align-middle">     
                                                                        
                                                      <h1>Bring you into Japanese Market and Successful</h1>
                                                      <p>
                                                            Are you familiar with Japanese market?
                                                      </p>
                                                      <a><%= link_to 'English', en_path, class: 'btn_top btn-1 img-btn' %></a> 
                                                      </div>                                           
                                                </div>
                                          </div>
                                    </div>
                                    <!--/Caption -->
                              </div>
                          
                        </li>
                        <!--/Slide 2 -->
                  </ul>
            </div>